[Unit]
Description=Grafana instance
Documentation=http://docs.grafana.org
Wants=network-online.target
After=network-online.target

[Service]
User=grafana
Group=grafana
Type=simple
ExecStart=/usr/sbin/grafana-server \
    --config=/etc/grafana/grafana.ini \
    --pidfile=/var/run/grafana/grafana-server.pid \
    --homepath /usr/share/grafana \
    cfg:default.paths.logs=/var/log/grafana \
    cfg:default.paths.data=/var/lib/grafana \
    cfg:default.paths.plugins=/var/lib/grafana/plugins

[Install]
WantedBy=multi-user.target
