[Unit]
Description=Story Service
After=network.target

[Service]
User=root
WorkingDirectory=/root/.story/story
ExecStart=/usr/local/bin/story run
ExecStop=/bin/kill -SIGTERM $MAINPID
KillMode=process
KillSignal=SIGTERM
TimeoutStopSec=10
Restart=on-failure
RestartSec=5
LimitNOFILE=65535


[Install]
WantedBy=multi-user.target
