[Unit]
Description=Story Geth daemon
After=network-online.target

[Service]
User=root
ExecStart=/usr/local/bin/geth --odyssey --syncmode full --http --http.api eth,net,web3,engine --http.vhosts '*' --http.addr 0.0.0.0 --http.port {{ STORY_PORT }}545 --authrpc.port {{ STORY_PORT }}551 --ws --ws.api eth,web3,net,txpool --ws.addr 0.0.0.0 --ws.port {{ STORY_PORT }}546
Restart=on-failure
RestartSec=3
LimitNOFILE=65535

[Install]
WantedBy=multi-user.target
